@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
}
* {
  font-family: OpenSans, sans-serif
}
/*header  top*/
.container__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.site-branding {
  display: inline-block;
  order: 0;
}
.main-navigation {
  display: block;
  width: 100%;
  clear: both;
}
.main-navigation .dropdown-menu {
  border: unset;
}
.header-top .main-navigation .sub-menu {    
  border-top: 2px solid #136764;
  background: #f6f6f6;
  box-shadow: unset;
  padding: 25px 10px 10px 20px;
  border-radius: unset;
  margin-top: -2px;
}
#vendor-bootstrap .navbar-link-item {
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 700;
  color: #acb8c1;
  padding: 1.7em 24px;
}
#vendor-bootstrap .navbar-link-item:hover,
#vendor-bootstrap .open .navbar-link-item:hover,
#vendor-bootstrap .navbar-link-item:focus,
#vendor-bootstrap .open .navbar-link-item:focus
#vendor-bootstrap .navbar-link-item:active,
#vendor-bootstrap .open .navbar-link-item:active {
  background: unset;
}

#vendor-bootstrap .navbar-link-item:hover,
#vendor-bootstrap .open .navbar-link-item {
  color: #323232;
}
.navbar-search .form-control {
  display: none;
}
.navbar-search .btn {
  line-height: 2.5;
  border: unset;
  background: unset;
}
#vendor-bootstrap .dropdown-link-item {
  color: #323232;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 0;
}
#vendor-bootstrap .dropdown-link-item:hover {
  color: #136764;
}
#vendor-boorstrap .dropdown-menu {
  transition: #136764 0.25s;
}
#vendor-boorstrap .dropdown-menu:before {
  border-top: 2px solid transparent;
  width: 0;
  height: 0;
}
.dropdown-underline > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.dropdown-underline > a:hover {
  color: #000;
}
.dropdown-underline > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #136764;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.dropdown-underline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.search-form__toogle {
  color: #acb8c1;
  margin: 0 -15px 0 24px;
  cursor: pointer;
}

/* header bottom */
.primary-info {
}
.primary-info.primary-info-bg {
  background: url("../images/first_screen_bg.jpg");
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
  text-align: left;
  background-size: cover;
  background-position: center;
  z-index: 1;    
  padding-top: 120px;
  padding-bottom: 135px;
}
.primary-info .primary-info-inner {
  color: #222223;
}
.primary-info-inner .primary-info__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 14px;
}
.primary-info-inner .primary-info__subtitle {
  margin-bottom: 3px;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
}
.primary-info-inner .primary-info__description {
  font-size: 18px;
  color: #fff;
}
.buttons-block .btn {
  color: #fff;
  text-transform: uppercase;
}
.buttons-block .btn-gray {
  background-color: #136764;
}
.buttons-block .btn-transparent {
  border: 1px solid #fff;
}
.buttons-block .btn-gray {
  background-color: #136764;
}
.buttons-block .btn-transparent {
  border: 1px solid #fff;
}
.footer {
  background-color: #2a2f33;
  padding: 30px 0;
}
/* activities page */
.breadcrumbs {
  background-color: #f8fafb;
  text-align: end;
  margin-bottom: 50px;
}
.breadcrumbs-item {
  padding: 25px 15px;
  display: inline-block;
  color: #acb8c1;
  font-size: 16px;
}
.breadcrumbs-item:after {

}
.activities-content {

}
.project-img {

}
.project-img img {
  width: 100%
}
