@media (max-width: 1199px) {
  .search-form__toggle {
    margin-left: 15px;
  }
  .event-img {
    max-height: 205px;
  } 
  .event-description {
    min-height: 324px;
  }
  .block-txt {
    width: 70%
  }
  .primary-info.primary-info-bg {
    background-position: left top;
  }
  #vendor-bootstrap .navbar-link-item {
    padding: 1.7em 15px;
  }
  .main-navigation .menu {
    margin: 0 -25px;
  }
}
@media (max-width: 991px) {
  .event-img {
    max-height: 242px;
  } 
  .footer {
    font-size: 12px;
  }
  .block-txt {
    width: 80%;
  }
  #vendor-bootstrap .navbar-link-item {
    padding: 1.7em 10px;
  }
  .search-form__toogle {
    color: #136764;
    margin: 20px 0 20px 24px;
    display: inline-block;
  }
  .container__flex {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main-menu__wrap .menu {
    float: left;
    margin-left: -25px;
  }
  .main-navigation {
    padding-top: .375em;
    -webkit-order: 3;
    order: 3;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: left;
  }
  .header-top {
    padding-top: 1.2em; 
  }
  /* activities page */
  .other-events .block-title-underline {
    margin-top: 45px;
  }
}
@media (max-width: 767px) {
  .header-wrapper .site-logo {
    width: 207px;
    display: block;
    margin: 0 auto;
  }
  .event-img {
    max-height: 242px;
  }   
  .main-navigation {
    position: unset;
  }
  .main-navigation .menu {
    margin-left: 0px;
  }
  .main-navigation .navbar-toggle {
    display: block;    
    position: absolute;
    left: 5px;
    top: 0;
    margin-top: 12px;
  }
  .header-search {
    display: block;    
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .event-description {
    min-height: 276px;
  }
  #vendor-bootstrap .navbar-toggle .icon-bar {
    background-color: #136764;
    width: 20px;
  }
  .container__flex {
    position: relative;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
  .header-top {    
    padding-top: 13px; 
    padding-bottom: 13px;
  }
  .primary-info.primary-info-bg {
    background-image: url(../images/first_screen_bg_medium.jpg);
    background-position: center top;
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 90px;
  }   
  .btn__left {
    margin-bottom: 0;
    margin-right: 15px;
  } 
  .block-txt {
    font-size: 14px;
  }
  .primary-info-inner .primary-info__title {
    font-size: 32px;
  }
  .primary-info-inner .primary-info__subtitle {
    font-size: 18px;
  }
  .primary-info-inner .primary-info__description {
    font-size: 14px;
  }
  .request-form .block-txt {
    font-size: 16px;
    width: 80%;
  } 
  /* activities page */
  .about-event .event-description {
    padding: 25px 20px;
  }
  .about-event .event-description .main-title {
    font-size: 24px;
  }
  .block-txt .main-info {
    font-size: 16px;
  }
  /* donations */
  .activities-content {
    padding: 0 70px;
  }
  .donations-content .block-txt {
    font-size: 14px;
  }
  .breadcrumbs {
    padding: 20px 0;
    margin-bottom: 40px;
  }
  .breadcrumbs-item {
    font-size: 14px;
  }
  .donation-description {
    margin-bottom: 50px;
  }
  .donation-pay-form {
    margin-bottom: 80px;
  }
  .donations-bg {
    height: 170px;
    background-position: center center;
  }
  /* dropdow-menu */
  .main-navigation {
    margin-left: -15px;
    margin-right: -15px;
  }
  .main-navigation .menu {
    width: 100%;
  }
  .main-menu__wrap {
    background-color: #f6f6f6;
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 63px;
  }
  #vendor-bootstrap .navbar-link-item {
    padding: 0 0 0 20px;

    font-size: 12px;
  }
  .menu  .menu-item:first-child {
    border-top: 1px solid #e2ecf2;
  }
  .menu-item {
    border-bottom: 1px solid #e2ecf2;
    margin-left: -15px;
    margin-right: -15px;   
    background-color: #f6f6f6;
  }
  .header-top .main-navigation .sub-menu {
    padding: 0;
  }
  #vendor-bootstrap .dropdown-link-item {
    margin-bottom: 0;
    padding-left: 40px;
    font-size: 12px;
  }
  .sub-menu-item {
    padding: 7px 0;
  }
  .sub-menu-item {
    border-bottom: 1px solid #e2ecf2;
  }
  .sub-menu-item:last-child {
    border-bottom: unset;
  }
  .main-navigation .dropdown:hover > .dropdown-menu {
    display: block;
    position: static;
    float: none;
  }
  .main-navigation .dropdown.open > .dropdown-menu,
  .main-navigation .dropdown.active > .dropdown-menu {
    display: block;
    position: static;
    float: none;
  }  
  .main-navigation .menu .dropdown .sub-menu-toggle {
    position: absolute;
    top: 0;
    height: 35px;
    width: 60px;
    right: 0;
    z-index: 99;
    color: #7a8893;
    cursor: pointer;
  }  
  .main-navigation .menu .dropdown .sub-menu-toggle:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 1;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .main-navigation .menu .dropdown .sub-menu-toggle.arrow__rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .main-navigation .menu .dropdown .sub-menu-toggle.active::before {
    -webkit-transform: translate(-50%) rotateX(180deg);
    transform: translate(-50%) rotateX(180deg);
  }
  .search-active .header-search {
    position: unset;
  }
  .search-active .search-form {
    left: 15px;
  }
  .search-active .search-form__close {
    right: 15px;
    transition: none;
  }
  .search-active .search-form__close:after {
    left: -15px;  
  }
  .search-form__toggle {
    color: #136764;
  }  
}
@media (max-width: 750px) {
  .event-img {
    max-height: 236px;
  } 
  .event-description {
    min-height: 325px;
  } 
}
@media (max-width: 699px) {
  .main-content {
    padding-bottom: 160px;
  }
  .primary-info-inner .btn__left {
    margin-right: 15px;
  }
  .form {
    width: 90%;
  }  
  .event-img {
    max-height: 224px;
  }
  .block-txt {
    width: 90%;
  }
  .event-link {
    font-size: 15px;
  }
  .event-description {
    min-height: 270px;
  } 
  .event-description p {
    font-size: 13px;
  } 
  .footer .row-top {
    margin-bottom: 0px;
  }
  .footer .row-top > * {
    margin-bottom: 10px;
  }
  .footer .row-bottom > *:first-child {
    margin-bottom: 20px;
  }
  /* activities */
  .breadcrumbs {
    text-align: start;
    padding: 16px 0;
    margin-bottom: 15px;
  }
  .activities-content {
    padding: 0;
  }
}
@media (max-width: 587px) {  
  .event-img {
    max-height: 162px;
  } 
  .event-description {
    min-height: 360px;
  }
  .primary-info.primary-info-bg {
    background-image: url(../images/first_screen_bg_small.jpg);
  } 
  .primary-info-inner .btn__left {
    margin-bottom: 15px;
    margin-right: 30px; 
  }
}
@media (max-width: 499px) {  
  .main-content {
    padding-bottom: 225px;
  }
  .col-xxs-12 {
    width: 100%;
  }   
  .event-img {
    min-height: 316px;
  } 
  .event-description {
    min-height: 190px;
  }
  .header-top {
    padding-bottom: 0;
    padding-top: 0;
  }
  .primary-info-inner .btn__left {
    margin-right: 40%;
  }
  .main-navigation .navbar-toggle {
    margin-top: 8px;
  }
  .activities .events-list {
    margin-bottom: 10px;
  }
  .search-form__toogle {
    color: #136764;
    margin: 15px 0 16px;
  }
  .primary-info-inner .buttons-block .btn {
    width: 170px;
  }  
  .fond-about .buttons-block {
    width: 75%;
    margin: 0 auto;
  } 
  .fond-about .buttons-block .btn {
    width: 100%;
  }  
  .btn__left {
    margin-bottom: 15px;
    margin-right: 0;
  }  
  .primary-info.primary-info-bg {
    background-image: url(../images/first_screen_bg_small.jpg);
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .request-form .capcha .form-control {
    width: 100%;
    order: 3;
  }
  .request-form .form-group.capcha {
    flex-wrap: wrap;
  }
  .capcha-img {
    margin-bottom: 10px;
    padding-left: 25px; 
  }
  .request-form .block-txt {
    font-size: 14px;
  }
  .footer {
    font-size: 14px; 
    text-align: center;
  }
  .footer .social-network-icons {
    text-align: center;
  }
  .footer .site-logo {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .site-creator {
    text-align: center;
  }
  /* activities page */
  .about-event .event-description .main-title {
    font-size: 21px;
  }
  .about-event .event-description {
    padding: 20px 15px;
  }
  /* donations */
  .breadcrumbs-item {
    font-size: 13px;
  }
  .donations-content .block-txt {
    width: 100%;
  }
  .donation-pay-form .form {
    width: 100%;
  }
  .payment-types img {
    width: 30%;
  }
  .payment-types {
    width: 45%;
  }
  .donation-pay-form .btn-green {
    margin-right: 10px;
  }
  .main-menu__wrap {
    top: unset;
  }
  .request-form .block-txt,
  .request-form .form {
    width: 100%;
  }
  .block-title {
    margin-bottom: 25px;
    font-size: 21px;
  }
  .block-title-underline {
    margin-bottom: 25px;
  }
  .footer {
    padding: 25px 0 15px;
  }
  .about-event .event-status {
    margin-bottom: 20px;
  }
  /* donations */
  .donations-bg {
    height: 111px;
    background-position: right center;
  }
}
@media (max-width: 469px) {
  .event-img {
    min-height: 290px;
  } 
}
@media (max-width: 399px) {
  .event-img {
    min-height: 250px;
  }   
}
@media (max-width: 370px) {
  .event-img {
    min-height: 226px;
  }
} 