@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
}
* {
  font-family: OpenSans, sans-serif;
}
body {
  overflow-x: hidden;
}
a:hover {
  text-decoration: none;
}
h1 {
  margin-top: 0;
}
/*header  top*/
.container__flex {
  display: flex;  
  display: -webkit-flex;
  align-items: center;  
  -webkit-align-items:  space-between;
  justify-content: space-between;  
  -webkit-justify-content:  space-between;
  flex-wrap: nowrap;  
  -webkit-flex-wrap: nowrap;
}
.site-branding {
  padding: 10px 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: left;
  -webkit-order: 0;
  order: 0;  
  display: inline-block;
}
.logo__svg {
  width: 100%;
}
.footer-logo__svg {
  background-image: url("../images/logo.svg");
  color: #fff;
}
.main-navigation {
  display: block;
  width: 100%;
  clear: both;
  position: relative;
  text-align: right;
}
.main-navigation .navbar-collapse.in {
  overflow-y: unset;
}
.main-menu__wrap .menu {
  float: right;
}
.main-navigation .dropdown:hover > .dropdown-menu {
  display: block;
}
.main-navigation .dropdown-menu {
  border: unset;
}
.header-top .main-navigation .sub-menu {    
  border-top: 2px solid #136764;
  background: #f6f6f6;
  box-shadow: unset;
  padding: 25px 10px 10px 20px;
  border-radius: unset;
  margin-top: -2px;
  transition: all 1s ease-in;
}
#vendor-bootstrap .navbar-link-item {
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 700;
  color: #acb8c1;
  padding: 1.7em 24px;
}
#vendor-bootstrap .navbar-link-item:hover,
#vendor-bootstrap .open .navbar-link-item:hover,
#vendor-bootstrap .navbar-link-item:focus,
#vendor-bootstrap .open .navbar-link-item:focus
#vendor-bootstrap .navbar-link-item:active,
#vendor-bootstrap .open .navbar-link-item:active {
  background: unset;
}
#vendor-bootstrap .navbar-link-item:hover,
#vendor-bootstrap .open .navbar-link-item,
#vendor-bootstrap .navbar-link-item.active {
  color: #323232;  
  transition: 0.3s;
}
#vendor-bootstrap .dropdown-link-item {
  color: #323232;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 0;
}
#vendor-bootstrap .dropdown-link-item:hover {
  color: #136764;
}
#vendor-boorstrap .dropdown-menu {
  transition: #136764 0.25s;
}
#vendor-boorstrap .dropdown-menu:before {
  border-top: 2px solid transparent;
  width: 0;
  height: 0;
}
.dropdown-underline > a {
  position: relative;
  color: #000;
  text-decoration: none;
}
.dropdown-underline > a:hover {
  color: #000;
}
.dropdown-underline > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #136764;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.dropdown-underline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.search-form__toggle {
  color: #acb8c1;
  margin-left: 24px;
  cursor: pointer;
}
/* header bottom */
.primary-info.primary-info-bg {
  background-image: url("../images/first_screen_bg.jpg");
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
  text-align: left;
  background-size: cover;
  background-position: center top;
  z-index: 1;    
  padding-top: 75px;
  padding-bottom: 130px;
  background-repeat: no-repeat; 
}
.primary-info-inner .primary-info__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 14px;
  margin-top: 0;
  color: #222223;
}
.primary-info-inner .primary-info__subtitle {
  margin-bottom: 3px;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
}
.primary-info-inner .primary-info__description {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}
.buttons-block .btn {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.9em 1.4em;
}
.buttons-block .btn:hover {
  background-color: #525b64;
}
.buttons-block .btn-green {
  background-color: #136764;
}
.buttons-block .btn-transparent__white {
  border: 1px solid #fff;
}
.buttons-block .btn-transparent__white:hover {
  border: 1px solid #525b64;
}
.btn__left {
  margin-right: 30px;
}
/* fond-about */
.block-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #27323d;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}
.main-content-item {
  padding: 60px 0 65px;
}
.fond-about {
  text-align: center;
  background-color: #f8fafb;
}
.block-title-underline {
  background-color: #d8d8d8;
  position: relative;
  height: 1px;
  width: 200px;
  display: block;
  margin: 0 auto 40px;
}
.block-title-underline:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 50%;
  height: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #d8d8d8;
}
.block-txt {
  margin: 0 auto 35px;
  width: 60%;
  font-size: 16px;
}
.buttons-block .btn-transparent.btn-transparent__gray {
  color: #2a2f33;
  border-color: #2a2f33;
}
.buttons-block .btn-transparent.btn-transparent__gray:hover {
  color: #fff;
  border-color: #525b64;
}
/* activities */
.activities {
  text-align: center;
}
.activities .events-list {
  margin-bottom: 15px;
}
.event-list-item {
  border: 1px solid #d8d8d8;
  /* height: 500px; */
  margin-bottom: 30px;
}
.event-list-item:hover {
  box-shadow: 0px 11px 43px 0px rgba(0, 0, 0, 0.16);
}
.event-img {
  position: relative;
  overflow: hidden;
  height: 253px;
  display: block;
}
.event-status.active {
  position: absolute;
  color: #fefefe;
  background-color: #136764;
  padding: 5px 15px;
  right: 0;
  top: 0;
}
.event-status.complete {
  position: absolute;
  color: #fefefe;
  background-color: #898989;
  padding: 5px 15px;
  right: 0;
  top: 0;
}
.event-status {
  font-size: 12px;
  text-transform: uppercase;
  z-index: 1;
}
.event-img img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  left: 0px;
  top: 0;
  position: relative;
}
.event-list-item:hover .event-img img {
  width: 110%;
  position: relative;
  left: -5%;
  top: -10%;
}
.event-list-item:hover .event-img img {
  width: 110%;
  position: relative;
  left: -5%;
  top: -10%;
}
.event-description {
  text-align: center;
  padding: 30px 30px 40px;
  min-height: 275px;
}
.event-list-item:hover .event-description {
  /* margin-top: -7%; */
}
.event-link {
  font-size: 20px;
  color: rgb(39, 50, 61);
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}
.event-list-item:hover .event-link {
  color: #136764;
}
.event-link:hover {
  color: #136764;
}
/* request-form */
.request-form .block-txt {
  width: 45%;
  color: #5e6972;
}
.request-form {
  text-align: center;
  background-color: #f8fafb;
}
.form {
  width: 570px;
  margin: 0 auto;
}
.request-form .form-control {
  padding: 25px;
  background: unset;
}
.request-form .textarea .form-control {
  padding-top: 15px;
  overflow-x: hidden;
}
.request-form .form-group {
  margin-bottom: 25px;
}
.request-form .form-group.capcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.request-form .capcha .form-control {
  width: 65%;
}
.request-form .capcha img {
  height: 100%;
}
/* footer */
.footer {
  background-color: #2a2f33;
}
.buttons-block .btn-transparent {
  border: 1px solid #fff;
}
.footer {
  background-color: #2a2f33;
  padding: 25px 0 30px;
}
.footer .social-network-icons {
  text-align: right;
  padding: 7px 0;
  color: #dce5e9;
  font-size: 18px;
}
.social-network-icons i {
  margin-right: 30px;
  cursor: pointer;
}
.social-network-icons i:last-child {
  margin-right: 0;
}
.social-network-icons i:hover {  
  color: #fff;
  font-size: calc(18px + 10%);
}
.social-network-icons i:first-child:hover {  
  margin-right: 29px;
}
.social-network-icons i:nth-child(2):hover {  
  margin-right: 28px;
}
.social-network-icons i:last-child:hover {  
  margin-left: -2px;
}
.site-owner:after {
  content: "|";
  padding-left: 5px;
}
.site-copyrights,
.site-creator {
  color: #a4a4a4;
}
.site-creator {
  text-align: right;
}
.footer .row-top {
  margin-bottom: 10px;
}
.footer-link {
  color: #fff;
  cursor: pointer;
}
.footer-link:hover {
  color: #136764;
}
/* activities page */
.breadcrumbs {
  background-color: #f8fafb;
  text-align: end;
  margin-bottom: 50px;
  padding: 25px 0;
}
.breadcrumbs-item {
  /* padding: 25px 0; */
  display: inline-block;
  color: #acb8c1;
  font-size: 16px;
}
.breadcrumbs-item:after {
  content: "|";
  padding-left: 5px;
}
.breadcrumbs-item:last-child:after {
  content: "";
  padding-left: 0;
}
.breadcrumbs-item.current {
  color: #525b64;
}
.activities-content {
  margin-bottom: 75px;
}
.activities-content .about-event {
  border: 1px solid #d8d8d8;
  overflow: hidden;
}
.event-img__big img {
  width: 100%;
}
.about-event .event-description {
  padding: 55px 60px 60px;
  text-align: left;
}
.about-event .event-description .main-title {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: #27323d;
  text-transform: uppercase;
}
.about-event .event-status {
  position: unset;
  padding: 0;
  color: #136764;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 50px;
  display: block;
}
.about-event .block-txt {
  margin: 0;
  width: 100%;
}
.block-txt .main-info {
  font-size: 20px;
  color: #27323d;
  line-height: 1.25;
}
.block-txt p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #525c64;
}
.banner {
  padding: 15px 0 35px;
}
.banner img {
  width: 100%;
}
.other-events .block-title-underline:after {
  display: none;
}
.other-events .block-title-underline {
  width: 100%;
  margin-bottom: 50px;
}
.other-events-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #27323d;
  font-weight: 700;
  margin-bottom: 20px;
}
.other-events-item .item-title {
  font-size: 15px;
  font-weight: 700;
  color: #136764;
  margin-bottom: 10px;
}
.other-events-item .block-txt {
  padding: 0px;
  font-size: 12px;
  width: 100%;
}
/* custom settings */
.txt__green {
color: #136764;
}
.txt__white {
  color: #fff;
}
.bold {
  font-weight: 900;
}
/* donations */
.donations-page .breadcrumbs {
  margin-bottom: 0;
}
.donations-page .donations-bg {
  margin-bottom: 50px;
}
.donations-bg {
  background-image: url("../images/donations_bg.jpg");
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;  
}
.donations-content .block-txt {
  text-align: center;  
}
.donation-description {
  margin-bottom: 80px;
}
.donation-pay-form {
  margin-bottom: 120px;
}
.donation-pay-form .form{
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 20px -2px rgba(200,200,200,1);
  -moz-box-shadow: 0px 4px 20px -2px rgba(200,200,200,1);
  box-shadow: 0px 4px 20px -2px rgba(200,200,200,1);
  width: 470px;
}
.donation-pay-form .form-label {
  font-weight: 400;
  color: #605d5d;
  display: block;
}
.donation-pay-form .form-control {
  border-radius: 0;
}
.donation-pay-form .form-group {
  margin-bottom: 20px;
}
.donation-pay-form input[name="short-dest"] {
  border: unset;
  box-shadow: unset;
  color: #000;
  padding: 0;
  height: unset;
}
.donation-pay-form input[name="sum"] {
  width: 110px;  
  display: inline-block;
  margin-right: 5px;
}
.donation-pay-form .block-title-underline {
  width: calc(100% + 40px);
  margin: 20px 0 20px -20px;
}
.donation-pay-form .block-title-underline:after {
  display: none
}
.donation-pay-form .btn-green {
  text-transform: unset;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: unset;
  margin-right: 20px;
}
.icon-rub {
  color: #605d5d;
}
.payment-types {
  display: inline-block;
}
/* search toggle */
.header-search .search-form__close {
  font-size: 19px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  padding: 5px 0;
  opacity: 0;
  margin-left: 25px;
  visibility: hidden;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}
.header-search .search-form {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;  
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: -999em;
  left: 0;
  right: 55px;
  opacity: 0;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}
.search-active .search-form__close {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
  font-size: 13px;  
  color: #828f99;
}
.search-form__close:after {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 1px;
  height: 23px;
  background: #7a8893;
}
.search-active .search-form {
  top: 50%;
  opacity: 1;
  visibility: visible;
  z-index: 3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  webkit-transition: opacity .3s ease-out,-webkit-transform .3s ease-out;
  transition: opacity .3s ease-out,transform .3s ease-out;
}
.search-active .main-navigation, 
.search-active .site-branding {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.search-active .search-form__toggle {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.search-active .container__flex {
  position: relative;
}
.header-search .search-form label {  
  width: 100%;
  margin-right: 15px;
  margin-bottom: 0;
}
.header-search .search-form__field {
  border: none;
  font-size: 14px;
  font-weight: 900;
  width: 100%;
  outline: none;
}
.header-search .search-form__submit,
.btn-primary:active:focus,
.btn-primary:active:active {
  padding: 5px;
  border: none;
  background: none;
  color: #acb8c1;
  outline: none;
  box-shadow: none;
}
input[type='search']::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a2a9b4;
  font-size: 14px;
  font-weight: 900;
}
input[type='search']::-moz-placeholder { /* Firefox 19+ */
  color: #a2a9b4;
  font-size: 14px;
  font-weight: 900;
}
input[type='search']:-ms-input-placeholder { /* IE 10+ */
  color: #a2a9b4;
  font-size: 14px;
  font-weight: 900;
}
input[type='search']:-moz-placeholder { /* Firefox 18- */
  color: #a2a9b4;
  font-size: 14px;
  font-weight: 900;
}